
@media screen and (max-width: 480px) {

/*titulo*/
   .titulo {
      font-size: 20px;
   }
/*fin titulo*/

/*grid inicio*/
   .grid{
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
      "grid_liquidacion"
      "grid_running"
      "grid_deportes"
      "grid_gym"
      "grid_moda"
   }
   .grid_item {
      margin-bottom: 20px;
      margin-left: 1.2rem;
      width: 250px;
      height: 180px;
   }
/*fin grid inicio*/

   /*grid categorias*/
   .grid_categorias{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
      "grid_calzado"
      "grid_indumentaria"
      "grid_accesorios"
   }
   /*fin grid categorias*/
}