$redes: (
    facebook: #3b5998,
    instagram: #ae309f,
    email: #dd4b39,
);

.redes-sociales{
    font-size: 35px;

    .bi-facebook{
        margin-right: 5px;
        color: #3b5998;
    }

    .bi-instagram{
        margin-right: 5px;
        color: #ae309f;
    }

    .bi-envelope{
        color: #dd4b39;
    }
}

.copyright{
    font-size: 12px;
}