@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

   /*logo*/
   .logo_mauri {
      height: 180px;
   }

   /*fin logo*/

   /*titulo*/
   .titulo {
      font-size: 40px;
   }

   /*fin titulo*/

   /*grid inicio*/
   .sec-grid {
      justify-content: center;
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
         "grid_liquidacion"
         "grid_running"
         "grid_deportes"
         "grid_gym"
         "grid_moda";

      .grid_item {
         width: 36rem;
      }
   }

   /*fin grid inicio*/

   /*redes*/
   .redes {
      padding-top: 1rem;
   }

   /*fin redes*/
}

@media screen and (max-width: 480px) {

   /*logo*/
   .logo_mauri {
      height: 130px;
   }

   /*fin logo*/

   /*titulo*/
   .titulo {
      font-size: 23px;
   }

   /*fin titulo*/

   /*grid inicio*/
   .sec-grid {
      margin-top: -70px;
      margin-bottom: -70px;
      justify-content: center;
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
         "grid_liquidacion"
         "grid_running"
         "grid_deportes"
         "grid_gym"
         "grid_moda";

      .grid_item {
         width: 22rem;
      }

      /*fin grid inicio*/

      /*redes*/
      .redes {
         padding-top: 1rem;
      }

      /*fin redes*/
   }
}